# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters

.vs/CPPProject/v17/
*.suo

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb